fastapi
uvicorn
pydantic
langchain
langchain-google-genai
langchain-community
langgraph
google-search-results
python-dotenv
httpx
psycopg2-binary
faiss-cpu
pytz
motor
langgraph-checkpoint-mongodb
PyJWT
python-multipart
passlib
bcrypt==3.2.2
redis